@font-face {
  font-family: architects;
  src: url('../font/ArchitectsDaughter.ttf');
}
@font-face {
  font-family: FiraMono;
  src: url('../font/FiraMono-Regular.ttf');
}
@font-face {
  font-family: rubik;
  src: url('../font/rubik-regular.woff2');
}

@media screen and (min-width: 900px) {
  #content-inner {
    max-width: 90%;
  }
}
@media screen and (min-width: 900px) {
  #post,
  #recent-posts,
  #category,
  #archive,
  #page {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  #aside-content {
    width: 20%;
  }
}
